@reference "../../app/global.css";

@keyframes spin {
  from {
    transform: rotate(0deg) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}

.outerSq {
  @apply
    grid
    grid-cols-2
    rotate-45 
    will-change-transform
}

.spin {
  animation: spin 1s linear infinite;
}

.outerSq.hover {
  @apply
    hover:rotate-[10845deg]
    active:rotate-[10845deg]
    transform-gpu
    duration-[45s]
}

.innerSq {
  @apply
    w-full
    h-full
    rounded-none
    shadow-[-1.5px_0px_2px_rgba(0,0,0,.25)]
    transform-gpu
    duration-500
    select-none
}

.innerSq.hover {
  @apply group-hover:rounded-[50%] group-active:rounded-[50%] group-hover:scale-[.8] group-active:scale-[.8]
}

.innerSq.spin {
  @apply scale-[.8] rounded-[50%]
}
