@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *, , dark.hover *));
@custom-variant hover (&:hover);

* {
  scrollbar-width: none;
}

:root {
  font-family: "Ubuntu", "Noto Sans TC", sans-serif;
}

.background {
  @apply bg-[url('https://cdn.hypernix.dev/img/bg_portrait.webp')] lg:bg-[url("https://cdn.hypernix.dev/img/bg.webp")] bg-cover bg-no-repeat
}

option:where(.dark *) {
  @apply text-black
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-duration: 86400s;
  transition-timing-function: linear;
}
