@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/noto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover (&:hover);

.contextMenuWrapper {
  @apply
    dark:text-white 
    text-base
    w-50 
    bg-blue-50/75 
    dark:bg-zinc-900/75 
    dark:border-1
    dark:border-zinc-400/25
    rounded-lg 
    shadow-black/50 
    dark:shadow-black/75 
    shadow-sm 
    backdrop-blur-xl
    p-[4.5px] 
    select-none
}

.contextMenuItem {
  @apply hover:text-white rounded-sm flex p-[2.5px] pl-3 duration-50
}

.ecIcon {
  @apply w-full lg:w-fit mx-1 scale-110 lg:scale-105
}

* { scrollbar-width: none; }

html, body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

input:is(:autofill, :-webkit-autofill) {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--color-sky-800) !important;
}
